/* I. Selectors */
/* Put styles for questions 1.1, 1.2, 1.3 and 1.4 here */

/* 1.1 - Style all articles using type selector */
article {
    margin: 20px 0;
    padding: 20px;
    border: 1px solid black;
}

/* 1.2 - Use class selector to set font color to red */
.style-me1 {
    color: red;
}

/* 1.3 - Use id selector to set font color to blue */
#style-me2 {
    color: blue;
}

/* 1.4 - Use specific selector to set font color to purple */
#style-me2.style-me1 {
    color: purple;
}

/* Put styles for questions 2.1 and 2.2 here */

/* 2.1 - Use a descendant combinator selector to set background color to red */
.my-descendants-are-styled p {
    background: red;
}

/* 2.2 - Use a child combinator selector to set background color to lightgreen */
.my-children-are-styled > p {
    background: lightgreen;
}

/* II. Box model and common properties */
/* Put styles for questions 1-8 here */

.box {
    /* 1.1 - Set a background colour */
    background: #2a9d8f;

    /* 1.2 - Use 4, 2 and 1 value syntax to set margin and padding */
    margin: 20px;
    margin: 20px 10px;
    margin: 10px 20px 30px 40px;

    padding: 20px;
    padding: 20px 10px;
    padding: 10px 20px 30px 40px;

    /* 2.1 - Set width and height using different dimension units */
    height: 100px;
    height: 20%;
    height: 10em;
    height: 15vh;

    width: 100px;
    width: 25%;
    width: 15em;
    width: 40vw;

    /* 2.2 - Why does the third box retain original height? The style attribute overrides all other CSS rules */
    /* Force your CSS rules to take precedence using the !important operator */
    height: 100px !important;
    width: 80% !important;

    /* 2.3 - Resizing the browser window while the box size depends on the vw and vh units also resizes the size of the box */

    /* 3.1	Set a border on the .box element */
    border: 2px dashed aquamarine;
    border: 5px dotted #54494B;

    /* 3.2 - Make the border 10px thick and solid */
    border: 10px solid #54494B;

    /* 4.1 - Test the two different values of box-sizing. How is box-sizing affecting the width and height of the box element? */
    box-sizing: border-box; /* width/height applies to the whole box, with borders and padding included. More intuitive, generally smaller containers. */
    box-sizing: content-box; /* default. width/height applies to the content inside the box, with borders and padding on top of this. Bigger containers. */

    /* 5.1 - Make text overflow outside of the element by setting smaller width/height */
    height: 50px;

    /* 5.2 - Set the overflow CSS rule for the .box class - test several different values */
    overflow: hidden; /* any overflowing text is cut off */
    overflow: scroll; /* adds scrollbars to view the overflowing box content */
    overflow: auto; /* only adds scrollbars if the content will overflow */

    /* 6.1 - Set a wide outline (10px) on the .box */
    outline: 10px solid #B33951;

    /* 7.1 - Set border-radius on the .box element */
    border-radius: 20px;
    border-radius: 1em;

    /* 7.2 - Setting border-radius to 50% */
    border-radius: 50%; /* Since box width and height are different the borders make it look like an oval */

    /* 7.3 - Increase the padding to account for the border radius */
    padding: 3em;

    /* 8 - Adding a background image */
    background: url("./assets/images/img1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* III. Positioning */
/* Put styles for questions 1-3 here */

.position-absolute {
    /* 1.1 - Use CSS to apply absolute position on the .position-absolute class */
    position: absolute;

    /* 1.2 - Add a top position of 0 */
    top: 0;

    /* 1.3 - Add a background color */
    background: #E3D081;

    /* 2.4	Add a left position value to the .position-absolute class and observe the difference. Add a right position value as well – what does this do? */
    left: 3em; /* Moves the element in from the left by the specified amount */
    right: 3em; /* Stretches the element so it has both left and right indents from the edges */
}

.position-relative {
    /* 2.1 - Set relative position on .position-relative class */
    position: relative;

    /* 2.2 - Add a different background colour to the relatively positioned container */
    background: #B33951;

    /* 2.3 - How is absolute positioning within relative different from absolute that is outside of relative? */
    /* Normal absolute positioning is relative to the PAGE - relative absolute positioning is relative to its CONTAINER */
}

.position-sticky {

    /* 3.1 - Set sticky position on .position-sticky class */
    position: sticky;

    /* 3.2 - Add a different background colour to the .position-sticky class */
    background: #2A9D8F;

    /* 3.3 - Set a top position value to change where the element ‘sticks’ to */
    top: 20px;
}

/* IV. Styling text */
/* Put styles for questions 1-10 here */

.text-style {
    /* 1. Set a font color using the color CSS rule on the .text-style class */
    color: #54494B;

    /* 2. Add a font-size CSS rule to the .text-style class */
    font-size: 20px;
    font-size: 2em;

    /* 3. Add a line-height CSS rule to the .text-style class */
    line-height: 1.5;
    line-height: 1em;

    /* 4. Add a font-weight CSS rule to the .text-style class */
    font-weight: bold;
    font-weight: 700;

    text-align: center;
    font-family: Roboto, sans-serif;
}

/* V. Styling links */
/* Put styles for questions 1-3 here */

/* 1 - Style all of the links in index.html */
a,
a:link {
    /* 1.1 - Set a font color */
    color: #2a9d8f;
    /* 1.2 - Modify the font-size, font-weight, and text-decoration for your links */
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: underline;
}

/* 2 - Style all of these ‘active’ links differently to default links */
a:hover,
a:active,
a:focus {
    /* 2.1 - Override the color with a darker shade */
    color: #1F7569;
    /* 2.2 - Use a different text-decoration value */
    text-decoration: none;
}

/* 3 - Many websites do not apply special styling to visited links. Style yours differently */
a:visited {
    /* 3.1 - Overriding the color */
    color: #43726B;
    /* 3.2 - Using a different font-style value - doesn't work! */
    font-style: italic;    
}

/* VI. calc() */
/* Put styles for questions 1-3 here */

/* 1. Add a new fixed width rule: width: 100vw; to the .calc-style class */
.calc-style {
    width: 100vw;

    /* 1.1 - Add a background colour to the .calc-style class to easily see its boundaries */
    background: #E3D081;    
    /* 1.2 - Add a new rule: width: calc(100vw - 100px); to the .calc-style class */
    width: calc(100vw - 100px);
}

/* 2. Create a new selector for the .fixed-width-col class to set its width to 350px and display: inline-block; */
.fixed-width-col { 
    display: inline-block; 
    width: 350px; 
}

/* 3. Create a second selector for the .fluid-col class and set display: inline-block; on it as well */
.fluid-col { 
    display: inline-block; 

    /* 3.1 Use calc() to set a dynamically calculated width for the fluid-col so that the two elements appear side-by-side. */
    width: calc(100% - 360px); 
}